/* html,
body, */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

a {
  font-family: "Montserrat", sans-serif-Bold;
  font-size: 14px;
  line-height: 1.7;
  color: #666;
  margin: 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  font-family: "Montserrat", sans-serif-Bold;
  font-size: 14px;
  line-height: 1.7;
  color: #666;
  margin: 0;
}

ul,
li {
  margin: 0;
  list-style-type: none;
}

input {
  outline: none;
  border: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
  -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder {
  color: #bdbdd3;
}

input:-moz-placeholder {
  color: #bdbdd3;
}

input::-moz-placeholder {
  color: #bdbdd3;
}

input:-ms-input-placeholder {
  color: #bdbdd3;
}

textarea::-webkit-input-placeholder {
  color: #bdbdd3;
}

textarea:-moz-placeholder {
  color: #bdbdd3;
}

textarea::-moz-placeholder {
  color: #bdbdd3;
}

textarea:-ms-input-placeholder {
  color: #bdbdd3;
}
select.input {
  height: 62px;
  padding: 0 35px;
  outline: none;
  border: none;
}
button {
  outline: none !important;
  border: none;
  background: 0 0;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

.container {
  max-width: 1200px;
}

.container-contact {
  width: max-content;
  height: max-content;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: absolute;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cesiumContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}

div::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
div::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.toolbar {
  background: rgba(42, 42, 42, 0.8);
  position: fixed;
  border-radius: 4px;
  color: white;
}

#menu-button {
  display: block;
  position: absolute;
  top: 7px;
  left: 8px;
  width: 32px;
  height: 32px;
  font-size: 20;
  margin: 0;
  padding: 0;
  z-index: 2;
}

#options {
  display: none;
  top: 44px;
  left: 8px;
  width: 260px;
  font-size: large;
  padding: 20px;
  max-width: calc(100vw - 16px);
  max-height: calc(100vh - 51px);
  z-index: 1;
}

.custom-switch {
  user-select: none;
}

input[disabled] + label.custom-control-label {
  color: rgb(207, 207, 207) !important;
}

.rows button {
  display: block;
  position: relative;
  width: 90%;
  margin: 10px;
}

#buttons-entry-point {
  max-height: 40vh;
  overflow-y: scroll;
}

#progress-bar {
  top: 3%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 30vw;
  background-color: grey;
}
#bar {
  width: 1%;
  height: 30px;
  background-color: green;
}

#fps-counter {
  bottom: 40px;
  right: 10px;
  width: 100px;
  padding-left: 10px;
  color: red;
  font-size: large;
  user-select: none;
}

.infoPanel {
  display: none;
  width: max-content;
  position: absolute;
  list-style: none;
  top: 3rem;
  left: 0rem;
  color: #fff;
}
.infoBtnContainer {
  position: absolute;
  top: 0.5rem;
  left: 2.8rem;
  transition: all 0.5s;
}
.infoBtnContainer > .infoBtn {
  outline: none;
  border: 0.6px solid #c7c6c693;
  padding: 0.2rem 0.8rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.wrap-contact {
  width: 550px;
  padding: 2rem;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.contact-form {
  width: 100%;
}

.contact-form-title {
  display: block;
  font-family: "Montserrat", sans-serif-Bold;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 49px;
}

.wrap-input {
  width: 100%;
  background-color: #fff;
  border-radius: 31px;
  margin-bottom: 16px;
  position: relative;
  z-index: 1;
}

.input {
  position: relative;
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 31px;
  font-family: "Montserrat", sans-serif-Bold;
  font-size: 18px;
  color: #8f8fa1;
  line-height: 1.2;
}

input.input {
  height: 62px;
  padding: 0 35px;
}

textarea.input {
  min-height: 169px;
  padding: 19px 35px 0;
}

.focus-input {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 31px;
  background-color: #fff;
  pointer-events: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input:focus + .focus-input {
  width: calc(100% + 20px);
}

.container-contact-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.contact-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 150px;
  height: 62px;
  background-color: transparent;
  border-radius: 31px;
  font-family: "Montserrat", sans-serif-Bold;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.contact-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 31px;
  background-color: #827ffe;
  pointer-events: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact-form-btn:hover:before {
  background-color: #403866;
  width: calc(100% + 20px);
}

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  z-index: 1000;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 14px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  pointer-events: none;
  font-family: "Montserrat", sans-serif-Bold;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  z-index: 1100;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 16px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
